<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/" />
        <title>Yelper</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
</head>
<body ng-app="YelperApp">
<!-- <navbar restaurant='restaurant'></navbar> -->
<div ui-view></div>
</body>
</html>