<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-danger dropdown-toggle welcome" dropdown-toggle ng-disabled="disabled">
                Restaurants <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat='restaurant in restaurants' ng-click="getRestaurant(restaurant)" ng-selected="selectRestaurant"><a href="#">{{ restaurant }}</a></li>
                </ul>
            </div>
            <div type="button" class="btn btn-danger">Add Restaurant</div>
        </ul>
    </div>
</nav>