navbar {

  display: block;
  background: #222222;
  font-family: 'Raleway', sans-serif;

  fullstack-logo {
    padding-top: 12px;
    margin-right: 20px;
    width: 50px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 5px;
  }

  .welcome {
    float: right;
    margin-top: 8px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

  #select-rest {
    width: 100%;
  }

}

#top-nav {
  margin-bottom: 0;
}